.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    grid-template-areas:
    ". . ."
    ". explanation ."
    ". form ."
    ". . ."
}
.explanation {
    grid-area: explanation;
}
.form {
    position: relative;
    grid-area: form;
}
